/*==========================================
                RESET
==========================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{

    background: #000;
    color: #fff;

    font-family: 'Inter', sans-serif;

    overflow-x: hidden;

}

img{

    max-width: 100%;
    display: block;

}

a{

    text-decoration: none;
    color: inherit;

}

button{

    border: none;
    outline: none;
    background: none;
    cursor: pointer;

}

ul{

    list-style: none;

}
/*==========================================
                HEADER
==========================================*/

.header{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:65px;

    display:flex;

    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.35);

    backdrop-filter:blur(18px);

    -webkit-backdrop-filter:blur(18px);

    z-index:1000;

}

.logo{

    font-family:'Space Grotesk',sans-serif;

    font-size:16px;

    font-weight:600;

    letter-spacing:8px;

    color:#fff;

}



/*==========================================
                HERO
==========================================*/

.hero{

    position:relative;

    width:100%;

    height:100vh;

    overflow:hidden;

}

.hero-image{

    position:absolute;

    inset:0;

    width:100%;

    height:100%;

    object-fit:cover;

}

.hero-overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.92),
        rgba(0,0,0,.35),
        rgba(0,0,0,.10)
    );

}

.hero-content{

    position:relative;

    z-index:2;

    height:100%;

    display:flex;

    flex-direction:column;

    justify-content:flex-end;

    padding:35px 28px 45px;

}

.hero-subtitle{

    font-size:13px;

    letter-spacing:3px;

    text-transform:uppercase;

    color:#d1d1d1;

    margin-bottom:18px;

}

.hero-title{

    font-family:'Space Grotesk',sans-serif;

    font-size:40px;

    line-height:1.1;

    font-weight:600;

    margin-bottom:18px;

}

.hero-location{

    color:#bbbbbb;

    font-size:14px;

    line-height:1.8;

    margin-bottom:35px;

}

.hero-buttons{

    display:flex;

    flex-direction:column;

    gap:14px;

}

.btn-primary{

    background:#ffffff;

    color:#000;

    text-align:center;

    padding:17px;

    border-radius:100px;

    font-weight:600;

}

.btn-secondary{

    border:1px solid rgba(255,255,255,.25);

    color:#fff;

    text-align:center;

    padding:17px;

    border-radius:100px;

}

/*==========================================
                PHILOSOPHY
==========================================*/

.philosophy{

    width:100%;

    background:#000;

    padding:110px 30px;

}

.philosophy-content{

    max-width:500px;

    margin:auto;

}

.section-tag{

    font-size:12px;

    text-transform:uppercase;

    letter-spacing:4px;

    color:#9f9f9f;

    margin-bottom:18px;

}

.section-title{

    font-family:'Space Grotesk',sans-serif;

    font-size:38px;

    font-weight:600;

    line-height:1.15;

    margin-bottom:28px;

}

.section-description{

    color:#bdbdbd;

    font-size:17px;

    line-height:1.8;

}

/*==========================================
                VARIABLES
==========================================*/

:root{

    --black: #000000;
    --white: #ffffff;

    --gray-light: #bcbcbc;
    --gray: #8f8f8f;
    --gray-dark: #4f4f4f;

    --container: 1200px;

    --transition: .35s ease;

}


/*==========================================
                GLOBAL
==========================================*/

section{

    width: 100%;

}

.container{

    width: min(90%, var(--container));

    margin: auto;

}

.title{

    font-family: 'Space Grotesk', sans-serif;

}

.subtitle{

    color: var(--gray-light);

}

.btn{

    display: inline-flex;

    justify-content: center;
    align-items: center;

    transition: var(--transition);


}
